{% extends 'base.html' %}
{% block link %}
    {{load_static_file('css','css/bootstrap-datepicker3.min.css')}}
{% endblock %}
{% block scripts %}
    {{load_static_file('js','js/bootstrap-datepicker.min.js')}}
    {{load_static_file('js','js/bootstrap-datepicker.zh-CN.min.js')}}
{% endblock %}
{% block content %}
{{current_location('添加')}}
<form method="post">
    {{form.csrf_token}}
    {{form.sign}}
    {{form.take_by_id}}
    {{form.audit_line}}
    {{form.out_assets_ids}}
    {{form.out_assets_amount}}
    <div class="row">
        <div class="col">
            <ul class="nav nav-tabs">
              <li class="nav-item">
                <span class="nav-link active text-primary">单据信息</span>
              </li>
            </ul>
        </div>
    </div><br>
    <div class="row">
        <div class="col-md-6">
            {{form.out_no.label}}
            {{form.out_no(class='form-control', readonly=True)}}
        </div>
        <div class="col-md-6">
            {{form.out_type_id.label}}
            {{form.out_type_id(class='form-control')}}
            {% for message in form.out_type_id.errors %}
                <small class="text-danger">{{message}}</small>
            {% endfor %}
        </div>
    </div><br>
    <div class="row">
        <div class="col-md-6">
            {{form.audit_line_id.label}}
            {{form.audit_line_id(class='form-control', readonly=True)}}
            {% for message in form.audit_line_id.errors %}
                <small class="text-danger">{{message}}</small>
            {% endfor %}
        </div>
        <div class="col-md-6">
            {{form.out_date.label}}
            {{form.out_date(class='form-control', readonly=True)}}
            {% for message in form.out_date.errors %}
                <small class="text-danger">{{message}}</small>
            {% endfor %}
        </div>
    </div><br>
    <div class="row">
        <div class="col-md-3">
            {{form.take_by.label}}
            <div class="input-group">
                {{form.take_by(class='form-control', readonly=True)}}
                <div class="input-group-prepend">
                    <span onclick="select_employee()" class="btn btn-secondary"><i class="bi bi-search"></i></span>
                </div>
            </div>
            {% for message in form.take_by.errors %}
                <small class="text-danger">{{message}}</small>
            {% endfor %}
        </div>
        <div class="col-md-6 offset-3" id="back_date_div">
            {{form.back_date.label}}
            {{form.back_date(class='form-control', readonly=True)}}
            {% for message in form.back_date.errors %}
                <small class="text-danger">{{message}}</small>
            {% endfor %}
        </div>
    </div><br>
    <div class="row">
        <div class="col-md-12">
            {{form.summary.label}}
            {{form.summary(class='form-control', rows='3')}}
            {% for message in form.summary.errors %}
                <small class="text-danger">{{message}}</small>
            {% endfor %}
        </div>
    </div><br>
</form>
<div class="row">
    <div class="col">
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <span class="nav-link active text-primary">出库明细</span>
          </li>
        </ul>
    </div>
</div><br>
<div class="row">
    <div class="col text-end">
        <button class="btn btn-outline-success" id="add_asset"><i class="bi bi-plus-lg"></i>&nbsp;&nbsp;添加</button>&nbsp;&nbsp;
        <button class="btn btn-outline-danger" id="clear_asset"><i class="bi bi-trash3"></i>&nbsp;&nbsp;清空</button>
    </div>
</div><br>
<table class="table table-hover table-sm table-bordered">
  <thead>
    <tr>
        <th scope="col" width="15%">资产编号</th>
        <th scope="col" width="15%">SAP资产编号</th>
        <th scope="col" width="20%">资产名称</th>
        <th scope="col" width="15%">品牌</th>
        <th scope="col" width="15%">型号</th>
        <th scope="col" width="10%">出库数量</th>
        <th scope="col" class="text-center" width="10%">Action</th>
    </tr>
  </thead>
  <tbody id="assets">
    {%if selected_assets%}
        {%for asset in selected_assets%}
            <tr id="{{asset.id}}">
                <td>{{asset.code}}</td>
                <td>{{asset.sap_code if asset.sap_code else ''}}</td>
                <td>{{asset.class3.name}}</td>
                <td>{{asset.brand.name}}</td>
                <td>{{asset.model.name}}</td>
                <td><input type="text" value="{{amount_dict[asset.id]}}" class="form-control form-control-sm"></td>
                <td class="text-center"><button onclick="remove_asset(this)" class="btn btn-link text-danger"><i class="bi bi-dash-circle"></i></button></td>
            </tr>
        {%endfor%}
    {%endif%}
  </tbody>
  {%if form.out_assets_ids.errors%}
    <tfoot>
        <tr>
            <td colspan="7">
                {% for message in form.out_assets_ids.errors %}
                    <small class="text-danger">{{message}}</small>
                {% endfor %}
            </td>
        </tr>
    </tfoot>
  {%endif%}
</table><br>
<div class="row">
    <div class="col">
        <button onclick="do_submit(0)" class="btn btn-outline-primary"><i class="bi bi-download"></i>&nbsp;&nbsp;保存</button>
        <button onclick="do_submit(1)" class="btn btn-outline-info"><i class="bi bi-save"></i>&nbsp;&nbsp;保存并提交</button>
    </div>
    <div class="col text-end">
        <a class="btn btn-outline-secondary" href="{{url_for('stockout.index')}}"><i class="bi bi-arrow-left"></i>&nbsp;&nbsp;返回</a>
    </div>
</div>
{% include 'comm/_select_asset.html' %}
{% include 'comm/_select_employee.html' %}
{% endblock %}
{% block script %}
    {{ super() }}
    $(function(){
        init_date('out_date')
        init_date('back_date')
        show_back_date()
        $('#out_type_id').change(function(){
            show_back_date()
            var type_id = $(this).val()
            $.post('/stockout/audit/'+type_id, function(data){
                $('#audit_line_id').val(data.line_id)
                $('#audit_line').val(data.line_id)
            }, 'json')
        })
        $('#add_asset').click(function(){
            $('#assetModal').modal('show')
        })
        $('#clear_asset').click(function(){
            $('#out_assets_ids').val('')
            $('#out_assets_amount').val('')
            $('#assets').empty()
        })
        $('#choose').click(function(){
            var chose = false
            $('#assets_for_select').find(':checkbox').each(function(){
                if($(this).prop('checked'))
                    chose = true
            })
            if(chose){
                $('#assets_for_select').find(':checkbox').each(function(){
                    if($(this).prop('checked') && $('#out_assets_ids').val().search($(this).data('assetid')) < 0){
                        var tr = "<tr id=\'"+$(this).data('assetid')+"\'>"+
                            "<td>"+$(this).data('vno')+"</td>"+
                            "<td>"+$(this).data('vsapno')+"</td>"+
                            "<td>"+$(this).data('vname')+"</td>"+
                            "<td>"+$(this).data('vbrand')+"</td>"+
                            "<td>"+$(this).data('vmodel')+"</td>"+
                            "<td><input type='text' value='1' class='form-control form-control-sm'></td>"+
                            "<td class='text-center'><button onclick='remove_asset(this)' class='btn btn-link text-danger'><i class='bi bi-dash-circle'></i></button></td>"+
                        "</tr>"
                        $('#assets').append(tr)
                    }
                })
                set_selected_assets()
                $('#assetModal').modal('hide')
            }else{
                $.alert({
                   type:'red',
                   title:'系统提示',
                   content: '请选择要出库的资产！',
                   onClose:function(){

                   }
               })
            }
        })
    })
    function show_back_date(){
        $.post('/dict/enum_value/'+$('#out_type_id').val(), function(data){
            if(data.code != 'T002')
                $('#back_date_div').hide()
            else
                $('#back_date_div').show()
        }, 'json')
    }
    function do_submit(sign){
        set_selected_assets()
        if($('#out_assets_ids').val() == ''){
            $.alert({
               type:'red',
               title:'系统提示',
               content: '请选择要出库的资产！',
               onClose:function(){

               }
           })
        }else{
            //alert($('#out_assets_amount').val())
            $('#sign').val(sign)
            $('form').submit()
        }
    }
    function remove_asset(e){
        $(e).parent().parent().remove()
    }
    function select_employee(){
        e_id = 'take_by_id'
        e_all = 'take_by'
        $('#employeeModal').modal('show')
    }
    function set_selected_assets(){
        var ids = [], ams = []
        // 设置asset id值
        $('#assets').find('tr').each(function(index){
            //alert('Amount is : '+$(this).find(':input').val())
            ids.push($(this).attr('id'))
            ams.push($(this).find(':input').val())
        })
        $('#out_assets_ids').val(ids.join(','))
        $('#out_assets_amount').val(ams.join(','))
    }
{% endblock %}