<h5 style="color:cornflowerblue;font-family:'Microsoft YaHei'; margin-bottom:0px;">
    以下借用发放的资产归还日期已到，请确认相应资产是否已归还！
</h5>
{%for bill in bills%}
    <table width="60%" cellspacing="0" cellpadding="0" style="border:1px solid #ccc;border-collapse:collapse">
      <thead>
        <tr>
            <th style="font-size:x-small;border:1px solid #ccc;color:#333;font-family:'Microsoft YaHei'">出库单号</th>
            <th style="font-size:x-small;border:1px solid #ccc;color:#333;font-family:'Microsoft YaHei'">{{bill.out_no}}</th>
            <th style="font-size:x-small;border:1px solid #ccc;color:#333;font-family:'Microsoft YaHei'">借用日期</th>
            <th style="font-size:x-small;border:1px solid #ccc;color:#333;font-family:'Microsoft YaHei'" colspan="2">{{bill.out_date}}</th>
        </tr>
        <tr>
            <th style="font-size:x-small;border:1px solid #ccc;background-color:cornflowerblue;color:#333;font-family:'Microsoft YaHei'">资产编号</th>
            <th style="font-size:x-small;border:1px solid #ccc;background-color:cornflowerblue;color:#333;font-family:'Microsoft YaHei'">SAP资产编号</th>
            <th style="font-size:x-small;border:1px solid #ccc;background-color:cornflowerblue;color:#333;font-family:'Microsoft YaHei'">资产名称</th>
            <th style="font-size:x-small;border:1px solid #ccc;background-color:cornflowerblue;color:#333;font-family:'Microsoft YaHei'">品牌</th>
            <th style="font-size:x-small;border:1px solid #ccc;background-color:cornflowerblue;color:#333;font-family:'Microsoft YaHei'">型号</th>
        </tr>
      </thead>
      <tbody>
        {%for asset in bill.assets%}
            <tr>
                <td style="font-size:x-small;border:1px solid #ccc;color:#777;font-family:'Microsoft YaHei'" align="center">{{asset.code}}</td>
                <td style="font-size:x-small;border:1px solid #ccc;color:#777;font-family:'Microsoft YaHei'" align="center">{{asset.sap_code if asset.sap_code else ''}}</td>
                <td style="font-size:x-small;border:1px solid #ccc;color:#777;font-family:'Microsoft YaHei'" align="center">{{asset.class3.name}}</td>
                <td style="font-size:x-small;border:1px solid #ccc;color:#777;font-family:'Microsoft YaHei'" align="center">{{asset.brand.name}}</td>
                <td style="font-size:x-small;border:1px solid #ccc;color:#777;font-family:'Microsoft YaHei'" align="center">{{asset.model.name}}</td>
            </tr>
        {%endfor%}
      </tbody>
    </table><br>
<hr width="60%" align="left">
{%endfor%}
<br>
<small style="color:cornflowerblue;font-family:'Microsoft YaHei'">该邮件为系统提醒邮件，无需回复！</small>