{% extends 'base.html' %}
{% block content %}
{{current_location('编辑')}}
<form method="post">
    {{form.csrf_token}}
    {{form.id}}
    <div class="row">
        <div class="col-md-6">
            {{form.code.label}}
            {{form.code(class='form-control')}}
            {% for message in form.code.errors %}
                <small class="text-danger">{{message}}</small>
            {% endfor %}
        </div>
        <div class="col-md-6">
            {{form.name.label}}
            {{form.name(class='form-control')}}
            {% for message in form.name.errors %}
                <small class="text-danger">{{message}}</small>
            {% endfor %}
        </div>
    </div><br>
    <div class="row">
        <div class="col-md-6">
            {{form.email_to.label}}
            {{form.email_to(class='form-control')}}
            {% for message in form.email_to.errors %}
                <small class="text-danger">{{message}}</small>
            {% endfor %}
        </div>
        <div class="col-md-6">
            {{form.email_cc.label}}
            {{form.email_cc(class='form-control')}}
            {% for message in form.email_cc.errors %}
                <small class="text-danger">{{message}}</small>
            {% endfor %}
        </div>
    </div><br>
    <div class="row">
        <div class="col-md-6">
            <button type="submit" class="btn btn-outline-primary"><i class="bi bi-save"></i>&nbsp;&nbsp;保存</button>
        </div>
        <div class="col-md-6 text-end">
            <a class="btn btn-outline-secondary" href="{{url_for('email.index')}}"><i class="bi bi-arrow-left"></i>&nbsp;&nbsp;返回</a>
        </div>
     </div>
</form>
{% endblock %}